body {
  font-family: Verdana, Helvetica, sans-serif;
  font-size: 12px;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  display: inline-block;
}
a:visited, a {
  color: #577fbf;
}
a:hover {
  text-decoration: underline;
  color: #679ce8;
}

form {
  display: inline-block;
}

header {
  background-color: #faf4f0;
}
header .gray_name {
  color: #999;
  display: inline-block;
  padding-right: 15px;
}
header a {
  padding: 7px 0;
}
header .left_block a {
  padding-right: 15px;
  padding-left: 15px;
}
header .right_block {
  float: right;
}

.category {
  color: #5077b2;
}

.account {
  color: #254a39;
}

.error {
  color: #c00000;
}

.expense,
.expense_true {
  color: #800000;
  text-align: right;
}
.income,
.expense_false {
  color: #008000;
  text-align: right;
}

.site_content {
  width: 910px;
  margin: 0 auto;
}

.fast_access_bar {
  margin: 10px 0;
  text-align: right;
  width: 100%;
}

.half_page_block {
  width: 425px;
}

.full_page_block {
  width: 887px;
}

.standard_block,
.standard_block_with_title {
  font-family: sans-serif;
}
.standard_block {
  background-color: #FBF8F7;
  border: 1px solid #f0e2d9;
  border-radius: 4px;
  font-size: 15px;
  padding: 5px 10px;
  position: relative;
}
.standard_block .item {
  line-height: 22px;
}
.standard_block .item button {
  font-size: 12px;
}
.standard_block .item .name {
  width: 130px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}
.standard_block .item .balance {
  width: 70px;
  text-align: right;
  overflow: hidden;
  display: inline-block;
}
.standard_block .item .currency {
  color: #bbb;
  display: inline-block;
  width: 50px;
}
.standard_block .item.total {
  margin-top: 10px;
}
.standard_block .item.total .name,
.standard_block .item.total .balance {
  font-weight: bold;
}
.standard_block button {
  font-size: 13px;
}

.standard_block_with_title .title {
  font-weight: bold;
  font-size: 15px;
  margin: 30px 10px 10px;
  display: inline-block;
}

.standard_block_with_title {
  display: inline-block;
  vertical-align: top;
}

.standard_block_with_title .details_link {
  color: #b56c39;
  font-size: 12px;
}
.standard_block .details_link {
  position: absolute;
  right: 10px;
  bottom: 5px;
}

.standard_block_divider {
  width: 7px;
  display: inline-block;
}

.chart_line {
  position: relative;
  top: 1px;
  margin-left: 2px;
  background-color: #99CDE6;
  height: 12px;
  display: inline-block;
}

.expense-chart {
  width: 700px;
  height: 400px;
}

.add_button {
  display: block;
  margin: 10px 0 0 0;
}

.more_actions_menu_wrapper {
  position: relative;
}
.more_actions_menu {
  display: none;
  position: absolute;
  right: 0;
  z-index: 100;
}
.more_actions_menu button {
  border: 0;
  width: 100%;
  text-align: left;
}

.ui-icon-csv {
  background: url(/img/csv_icon_sm.gif) no-repeat 0 0 transparent !important;
}
