body {
  font-family: Verdana, Helvetica, sans-serif;
  font-size: 12px;
}

form {
  border: 1px solid #ccc;
  padding: 5px;
  display: inline-block;
  margin: 10px 0;
}

.transaction_dialog {
  display: none;
}

.category {
  color: #679ce8;
}

.error {
  color: #c00000;
}
