body {
  font-family: Verdana, Helvetica, sans-serif;
  font-size: 12px;
}

.category {
  color: #679ce8;
}

.error {
  color: #c00000;
}

.fast_access_bar {
  margin: 10px 0;
  text-align: right;
  width:900px;
}

.add_account_transaction_button {
  height: 21px;
  font-size: 12px;
  color: white;
  text-align: center;
  padding-top: 5px;
  cursor: pointer;
  display: inline-block;
  width: 192px;
  background: url(/img/add_account_transaction.png) transparent no-repeat 0 0;
}
