.transaction_dialog {
  display: none;
}
.transaction_dialog .properties,
.transaction_dialog .datepicker {
  display: inline-block;
  vertical-align: top;
}
.transaction_dialog .expense_input_help {
  color: #999;
  font-size: 11px;
}
.transaction_dialog .properties {
  margin-right: 10px;
}
.transaction_dialog .categories,
.transaction_dialog .accounts {
  margin-top: 5px;
}
.transaction_dialog .input_area {
  width: 300px;
  height: 60px;
  resize: none;
}

.transaction_dialog .ui-buttonset .ui-button-text {
  padding: 3px 5px;
}

.transaction_dialog .accounts,
.transaction_dialog .categories {
  width: 300px;
}
