{% extends "templates/base.html" %}

{% block head %}
  <title>PFT: manage profiles</title>

  <style type="text/css">
    .active_profile {
      color: green;
    }

    .profile_code {
      font-size: 11px;
      color: #999;
    }
  </style>
{% endblock %}

{% block content %}

{% if profiles %}
  <h2>Your profiles:</h2>

  <ul>
    {% for profile in profiles %}
      <li>
        <form action="/do/set_active_profile" method="post">
          {{ profile.name }}
          {% if visitor.active_profile_id == profile.key.id() %}
            <span class="active_profile">Active</span>
          {% else %}
            <input type="hidden" name="id" value="{{ profile.key.id() }}" />
            <input type="submit" value="Select" />
          {% endif %}
          <div class="profile_code">Profile code: {{ profile.key.urlsafe() }}</div>
        </form>
      </li>
    {% endfor %}
  </ul>
{% else %}
  You have no connected profiles yet. Create a new profile of join an existing one by code.
{% endif %}

<div class="standard_block_with_title">
  <div class="title">Add a new profile</div>
  <div class="standard_block half_page_block">
    <form action="/do/add_profile" method="post">
      <label>
        Name
        <input name="name"/>
      </label>
      <button type="submit">Create a new profile</button>
    </form>
  </div>
</div>

<br>

<div class="standard_block_with_title">
  <div class="title">or join an existing one</div>
  <div class="standard_block half_page_block">
    <form action="/do/connect_to_profile" method="post">
      <label>
        Join existing profile by code:
        <input name="profile_code"/>
      </label>
      <button type="submit">Join</button>
    </form>
  </div>
</div>

{% endblock %}
