{% extends "templates/base.html" %}

{% block head %}
  <title>PFT: profile settings</title>

  <style type="text/css">
    .item label {
      margin-right: 10px;
    }
  </style>

  <script type="text/javascript">
    // Init.
  </script>
{% endblock %}

{% block content %}
  {{ categories.categories_widget(profile, total_balance, categories_total_balance, true) }}

  <div class="standard_block_divider"></div>

  {{ accounts.accounts_widget(profile, total_balance, true) }}

  <div class="standard_block_with_title">
    <div class="title">Profile settings</div>
    <div class="standard_block half_page_block">
      <form action="/do/edit_profile" method="post">
        <label>
          Main currency:
          <input name="main_currency" value="{{ profile.main_currency }}"/>
        </label>
        <div><button type="submit">Save</button></div>
      </form>
    </div>
  </div>

  <br>

  <div class="standard_block_with_title">
    <div class="title">User-specific profile settings</div>
    <div class="standard_block half_page_block">
      <form action="/do/edit_user_profile_settings" method="post">
        <div class="item">
        <label>
          Cash account:
          {{ accounts.accounts_select(profile, "cash_account_id",
             selected_account_id=user_profile_settings.cash_account_id, no_account_option=true) }}
        </label>
        <div class="item">
          <label>
            Main bank account:
            {{ accounts.accounts_select(profile, "main_account_id",
               selected_account_id=user_profile_settings.main_account_id, no_account_option=true) }}
          </label>
        </div>
        <br>
        <div class="item">Important accounts:</div>
        <div class="item">
          {% for account in profile.accounts %}
            <label>
              {% set checked='checked' if loop.index0 in user_profile_settings.important_account_ids %}
              {{ account.name }}
              <input name="important_account_{{ loop.index0 }}"
                     type="checkbox" {{ checked }}/>
            </label>
          {% endfor %}
        </div>
        <div><button type="submit">Save</button></div>
      </form>
    </div>
  </div>

{% endblock %}
