{% extends "templates/base.html" %}

{% block head %}
  <title>PFT: profile settings</title>

  <style type="text/css">
    .add_button {
      display: block;
      margin: 10px 0 0 0;
    }
  </style>

  <script type="text/javascript">
    // Init.
  </script>
{% endblock %}

{% block content %}
  {{ categories.categories_widget(profile, total_balance, categories_total_balance, true) }}

  <div class="standard_block_divider"></div>

  {{ accounts.accounts_widget(profile, total_balance, true) }}

  <div class="standard_block_with_title">
    <div class="title">Profile settings</div>
    <div class="standard_block half_page_block">
      <form action="/do/edit_profile" method="post">
        <div>
          Main currency:
          <input name="main_currency" value="{{ profile.main_currency }}"/>
        </div>
        <div><button type="submit">Save</button></div>
      </form>
    </div>
  </div>

{% endblock %}
