{% extends "templates/base.html" %}

{% block content %}
  <h2>Import expenses and income from file</h2>

  <form action="/do/add_transactions_from_csv" method="post" enctype="multipart/form-data">
    <div>Account:
      <select name="account_id">
        {% for account in profile.accounts %}
          <option value="{{ loop.index0 }}">{{ account.name|escape }}</option>
        {% endfor %}
      </select>
    </div>
    <input type="file" name="csv" /><br>
    <input type="submit" value="Submit" />
  </form>

  <h3>Edit previous imports</h3>

  <ul>
    {% for imported_file_description in imported_file_descriptions %}
      <li>
        <a href="/edit_imported_file?id={{ imported_file_description.imported_file_id }}">
          {{ imported_file_description.date }}
        </a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
