<div>
  <div class="title">Accounts</div>
  <div class="standard_block half_page_block">
    <div class="item" ng-repeat="account in profile.accounts">
      <a href="#/transactions/account_id={{ $index }}">
        <span class="name account">{{ account.name }}</span>
      </a>
      <span class="balance">{{ account.balance | number:0 }}</span>
      <span class="currency">{{ account.currency}}</span>

      <button pft-button
              ng-show="accountsManageMode"
              icon="ui-icon-pencil"
              ng-click="openEditAccountDialog($index)">
        Edit</button>
      <button pft-button
              icon="ui-icon-circle-minus"
              ng-show="accountsManageMode">
        Remove</button>
    </div>

    <button pft-button
            icon="ui-icon-circle-plus"
            ng-show="accountsManageMode"
            class="add_button"
            ng-click="openEditAccountDialog()">
      Add account
    </button>

    <div class="item total">
      <span class="name">Total</span>
      <span class="balance">{{ profileData.total_balance | number:0 }}</span>
      <span class="currency">{{ profile.main_currency}}</span>
    </div>

    <a class="details_link"
       ng-hide="accountsManageMode"
       ng-click="accountsManageMode = true">manage</a>
    <a class="details_link"
       ng-show="accountsManageMode"
       ng-click="accountsManageMode = false">done</a>
  </div>
</div>
