<div>
  <div class="title">Categories</div>
  <div class="standard_block half_page_block">
    <div class="item" ng-repeat="category in profileData.profile.categories">
      <a href="/transaction_report?category_id={{ $index }}">
        <span class="name category">{{ category.name }}</span>
      </a>
      <span class="balance">{{ category.balance }}</span>
      <span class="currency">{{ profileData.profile.main_currency}}</span>

      <button pft-button
              icon="ui-icon-pencil"
              ng-click="editCategoryDialogVisible = true">
        Edit</button>
      <button pft-button icon="ui-icon-circle-minus">
        Remove</button>
    </div>

    <button pft-button icon="ui-icon-circle-plus"
            class="add_button" ng-click="editCategoryDialogVisible = true">
      Add category
    </button>

    <div class="item total">
      <span class="name">Common savings</span>
      <span class="balance">{{ profileData.total_balance - profileData.categories_total_balance }}</span>
      <span class="currency">{{ profileData.profile.main_currency}}</span>
    </div>

    <a class="details_link" href="/settings">manage</a>
  </div>
</div>
