<!doctype html>
<html ng-app="pftApp">
<head>
  <link type="text/css" rel="stylesheet" href="/css/common.css" />
  <link type="text/css" href="/css/custom-theme/jquery-ui-1.8.18.custom.css" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.8.2/css/jquery.dataTables.css">

  <script type="text/javascript" src="/js/lib/jquery-1.7.1.min.js"></script>
  <script type="text/javascript" src="/js/lib/jquery-ui-1.8.18.custom.min.js"></script>
  <script type="text/javascript" src="/js/lib/amplify.min.js"></script>
  <script type="text/javascript" src="/js/lib/highcharts.js"></script>
  <script type="text/javascript" src="/js/lib/angular-1.0.0.js"></script>
  <script type="text/javascript" src="/js/lib/angular-bootstrap-1.0.0.js"></script>
  <script type="text/javascript" src="/js/lib/angular-bootstrap-prettify-1.0.0.js"></script>
  <script type="text/javascript" src="/js/lib/angular-resource-1.0.0.js"></script>

  <script type="text/javascript" src="/js/state.js"></script>
  <script type="text/javascript" src="/js/transaction_dialog.js"></script>
  <script type="text/javascript" src="/js/account_transfer_dialog.js"></script>
  <script type="text/javascript" src="/js/charts.js"></script>
  <script type="text/javascript" src="/js/categories.js"></script>
  <script type="text/javascript" src="/js/accounts.js"></script>

  <script type="text/javascript" src="/js/app_ctrl.js"></script>

  <title>PFT: overview</title>
</head>
<body ng-controller="pft.AppCtrl">
<div class="site_content">
  <header>
    <div class="right_block">
      <a href="#">Change profile</a>
      <span class="gray_name">({{ profileData.profile.name }})</span>

      <a href="{{ profileData.logout_url }}">Log out</a>
      <span class="gray_name">({{ profileData.google_user.nickname }})</span>
    </div>

    <div class="left_block">
      <a href="/">Home</a>
      <a href="/#">Reports</a>
      <a href="/#">Profile settings</a>
    </div>
  </header>

  <div class="fast_access_bar">
    <button>
      Add expense
    </button>
    <button ng-show="profileData.user_profile_settings">
      Add cash withdrawal
    </button>
    <button>
      Import from file
    </button>
    <button>
      Transfer money between accounts
    </button>
  </div>

  <!-- Categories -->

  <div class="standard_block_with_title">
    <div class="title">Categories</div>
    <div class="standard_block half_page_block">
      <div class="item" ng-repeat="category in profileData.profile.categories">
        <a href="/transaction_report?category_id={{ $index }}">
          <span class="name category">{{ category.name }}</span>
        </a>
        <span class="balance">{{ category.balance }}</span>
        <span class="currency">{{ profileData.profile.main_currency}}</span>

        <button ng-click="editCategoryDialogVisible = true">
          Edit</button>
        <button>
          Remove</button>
      </div>

      <button class="add_button" ng-click="editCategoryDialogVisible = true">
        Add category
      </button>

      <div class="item total">
        <span class="name">Common savings</span>
        <span class="balance">{{ profileData.total_balance - profileData.categories_total_balance }}</span>
        <span class="currency">{{ profileData.profile.main_currency}}</span>
      </div>

      <a class="details_link" href="/settings">manage</a>
    </div>
  </div>

  <!-- end categories -->

  <div class="standard_block_divider"></div>
<br> editCategoryDialogVisible: {{ editCategoryDialogVisible }}

  <br>
  <button ng-click="profileVisible = !profileVisible">Show profile JSON</button>
  <pre ng-show="profileVisible">{{ profileDataFormatted }}</pre>

  <!-- Dialogs -->


  <div id="edit-category-dialog" ng-show="editCategoryDialogVisible">
    <label>
      Name:
      <input id="edit-category-name" />
    </label>
    <br>
    <label>
      Category balance:
      <input id="edit-category-balance" />
    </label>
  </div>
</div>
</body>
</html>
