<!doctype html>
<html ng-app="pftApp">
<head>
  <link type="text/css" rel="stylesheet" href="/css/common.css" />
  <link type="text/css" rel="stylesheet" href="/css/transaction_dialog.css" />
  <link type="text/css" rel="stylesheet" href="/css/transactions.css" />
  <link type="text/css" rel="stylesheet" href="/css/edit_budget.css" />
  <link type="text/css" rel="stylesheet" href="/css/edit_imported_file.css" />
  <link type="text/css" href="/css/custom-theme/jquery-ui-1.8.18.custom.css" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.8.2/css/jquery.dataTables.css">

  <script type="text/javascript" src="/js/lib/jquery-1.7.1.min.js"></script>
  <script type="text/javascript" src="/js/lib/jquery-ui-1.8.18.custom.min.js"></script>
  <script type="text/javascript" src="/js/lib/amplify.min.js"></script>
  <script type="text/javascript" src="/js/lib/highcharts.js"></script>
  <script type="text/javascript" src="/js/lib/angular-1.0.0.js"></script>
  <script type="text/javascript" src="/js/lib/angular-bootstrap-1.0.0.js"></script>
  <script type="text/javascript" src="/js/lib/angular-bootstrap-prettify-1.0.0.js"></script>
  <script type="text/javascript" src="/js/lib/angular-resource-1.0.0.js"></script>

  <script type="text/javascript" src="/js/state.js"></script>
  <script type="text/javascript" src="/js/transaction_dialog.js"></script>
  <script type="text/javascript" src="/js/account_transfer_dialog.js"></script>
  <script type="text/javascript" src="/js/charts.js"></script>
  <script type="text/javascript" src="/js/budget.js"></script>
  <script type="text/javascript" src="/js/edit_imported_file.js"></script>

  <script type="text/javascript" src="/js/directives.js"></script>
  <script type="text/javascript" src="/js/main_page_ctrl.js"></script>
  <script type="text/javascript" src="/js/transactions_page_ctrl.js"></script>
  <script type="text/javascript" src="/js/edit_budget_page_ctrl.js"></script>
  <script type="text/javascript" src="/js/import_from_file_page_ctrl.js"></script>
  <script type="text/javascript" src="/js/edit_imported_file_page_ctrl.js"></script>
  <script type="text/javascript" src="/js/app_ctrl.js"></script>

  <title>PFT: overview</title>
</head>
<body ng-controller="pft.AppCtrl">
<div class="site_content">
  <header>
    <div class="right_block">
      <a href="#">Change profile</a>
      <span class="gray_name">({{ profile.name }})</span>

      <a href="{{ profileData.logout_url }}">Log out</a>
      <span class="gray_name">({{ profileData.google_user.nickname }})</span>
    </div>

    <div class="left_block">
      <a href="#">Home</a>
      <a href="#/transactions">Reports</a>
      <a href="/#">Profile settings</a>
    </div>
  </header>

  <div class="fast_access_bar">
    <button pft-button icon="ui-icon-circle-plus"
            ng-click="openTransactionDialog()">
      Add expense
    </button>
    <button pft-button icon="ui-icon-csv"
            ng-click="openImportFromFile()">
      Import from file
    </button>
    <button pft-button icon="ui-icon-transferthick-e-w">
      Transfer money between accounts
    </button>
  </div>

  <div ng-view></div>

  <!-- Dialogs -->

  <div id="edit-category-dialog" style="display: none">
    <label>
      Name:
      <input id="edit-category-name" />
    </label>
    <br>
    <label>
      Category balance:
      <input id="edit-category-balance" />
    </label>
  </div>

  <div id="edit-account-dialog" style="display: none">
    <label>
      Name:
      <input id="edit-account-name" />
    </label>
    <br>
    <label>
      Currency:
      <input id="edit-account-currency" />
    </label>
    <br>
    <label>
      Account balance:
      <input id="edit-account-balance" />
    </label>
  </div>

  <div id="transaction-dialog" class="transaction_dialog">
    <div class="properties">
      <div class="expense_input_help">
        For example: 13.5 products in Coop
      </div>
      <textarea id="transaction-dialog-input-area"
          class="input_area"></textarea>

      <div id="transaction-dialog-categories" class="categories">
        <input type="radio" name="category_id" category_id="" id="tdc-" value=""/>
        <label for="tdc-"> No category </label>
        <span ng-repeat="category in profile.categories">
          <input type="radio" name="category_id" category_id="{{ $index }}"
                 id="tdc-{{ $index }}" value="{{ $index }}" />
          <label for="tdc-{{ $index }}"> {{ category.name }} </label>
        </span>
      </div>

      <div id="transaction-dialog-accounts" class="accounts">
        <span ng-repeat="account in profile.accounts">
          <input type="radio" name="account_id" account_id="{{ $index }}"
                 id="tda-{{ $index }}" value="{{ $index }}" />
          <label for="tda-{{ $index }}"> {{ account.name }} </label>
        </span>
      </div>

    </div>
    <div id="transaction-dialog-datepicker" class="datepicker"></div>
    <div id="transaction-dialog-error" class="error"></div>
  </div>


  <!-- Debug -->

  <br>
  <button ng-click="profileVisible = !profileVisible">Show profile JSON</button>
  <pre ng-show="profileVisible">{{ profileDataFormatted }}</pre>
</div>
</body>
</html>
