
<div pft-categories-widget class="standard_block_with_title"></div>

<div class="standard_block_divider"></div>

<div pft-accounts-widget class="standard_block_with_title"></div>

<div class="standard_block_with_title">
  <div class="title">Current month</div>
  <a class="details_link" href="#edit_budget">details</a>
  <div class="standard_block full_page_block">
    <div class="item" ng-repeat="item in budget.budget_items">
      <a href="/transaction_report?category_id={{ item.category_id }}"
         ng-show="item.category_id != null">
        <span class="name category">{{ item.name }}</span>
      </a>
      <span class="name"
            ng-hide="item.category_id != null">{{ item.name }}</span>

      <span class="balance">{{ item.amount | number:0 }}</span>
      <span class="currency">{{ profile.main_currency}}</span>
      <span class="chart_line"
            style="width: {{ (item.amount / budget.max_expense * 100) | number:0 }}px">
      </span>
    </div>

    <div class="item total">
      <span class="name">Common savings</span>
      <span class="balance">{{ budget.common_savings | number:0 }}</span>
      <span class="currency">{{ profile.main_currency}}</span>
      <span class="chart_line"
            style="width: {{ (budget.common_savings / budget.max_expense * 100) | number:0 }}px">
      </span>
    </div>
    <a class="details_link" id="view-on-chart" href="javascript:void(0)">
      view on chart</a>
  </div>
</div>
