
<div id="edit-budget-item-dialog" style="display: none">
  <div>You can automatically transfer money to a category every month</div>
  <br>
  <label>
    Category:
    <select id="edit-budget-item-category">
      {% for category in profile.categories %}
        <option value="{{ loop.index0 }}">
          {{ category.name|escape }}
        </option>
      {% endfor %}
    </select>
  </label>
  <br>
  <label>
    How much money to transfer this month:
    <input id="edit-budget-item-amount" />
  </label>
</div>
