{% extends "templates/base.html" %}

{% block head %}
  <title>PFT: edit budget</title>

  <script type="text/javascript" src="/js/budget.js"></script>

  <style type="text/css">
    .add_category_button {
      display: block;
      margin-top: 10px;
    }
  </style>

  <script type="text/javascript">
    // Init.
    {% for item in budget_items_json %}
      var item = {{ item }};
      item['id'] = {{ loop.index0 }};
      pft.state.UpdateBudgetItem(item);
    {% endfor %}

    $('[budget_item_id]').live('click', function(){
      pft.EditBudgetItem('{{ budget.GetStrDate() }}',
          $(this).attr('budget_item_id'));
    });
    $('[delete_budget_item_id]').live('click', function(){
      pft.DeleteBudgetItem('{{ budget.GetStrDate() }}',
          $(this).attr('delete_budget_item_id'));
    });
  </script>
{% endblock %}

{% block content %}
  {% include "templates/planning/edit_budget_category.inc.html" %}

  <h3>
    <a href="/edit_budget?date={{ budget.GetStrDate() }}">Previous</a>
    Viewing {{ budget.GetStrDate() }}
    <a href="/edit_budget?date={{ budget.GetStrDate() }}">Next</a>
  </h3>

  <br><br>

  <h3>Edit budget for {{ budget.GetStrDate() }}</h3>

  {% if not budget %}
    <p>
      Budget is not planned yet.
    </p>
  {% endif %}

  <div class="standard_block_with_title">
    <div class="title">Categories</div>
    <div class="standard_block">
      {% for item in budget_items %}
        <div class="item">
          <span class="name">{{ item.name|escape }}</span>
          <span class="balance">{{ item.amount|currency }}</span>
          <span class="currency">{{ profile.main_currency}}</span>
          <button icon="ui-icon-pencil"
              budget_item_id="{{ loop.index0 }}">Edit</button>
          <button icon="ui-icon-circle-minus"
              delete_budget_item_id="{{ loop.index0 }}">Remove</button>
        </div>
      {% endfor %}
    </div>
  </div>

  <button icon="ui-icon-circle-plus"
      class="add_category_button" budget_item_id="">
    Add category
  </button>

{% endblock %}
