{% extends "templates/base.html" %}

{% block head %}
  <title>PFT: edit budget</title>

  <script type="text/javascript" src="/js/transaction_dialog.js"></script>

  <style type="text/css">
  </style>

  <script type="text/javascript">
    // Init.
  </script>
{% endblock %}

{% block content %}
  <h3>
    <a href="/edit_budget?date={{ budget.GetStrDate() }}">Previous</a>
    Viewing {{ budget.GetStrDate() }}
    <a href="/edit_budget?date={{ budget.GetStrDate() }}">Next</a>
  </h3>

  <br><br>

  <h3>Edit budget for {{ budget.date.strftime('%m.%Y') }}</h3>

  {% if not budget %}
    <p>
      Budget is not planned yet.
    </p>
  {% endif %}

  <h5>Budget items</h5>
  <ul>
    {% for item in budget.items %}
      <li>
        {{ item }}
      </li>
    {% endfor %}
  </ul>

  <form action="/do/edit_transaction" method="post">
    <h5>Add new item</h5>
    <input type="hidden" name="budget_date" value="{{ budget.GetStrDate() }}"/>
    <input type="hidden" name="date" value="01.01.1000"/>
    <label>
      Category:
      <select name="dest_category_id">
        {% for category in profile.categories %}
          <option value="{{ loop.index0 }}">
            {{ category.name|escape }}
          </option>
        {% endfor %}
      </select>
    </label>
    <br>
    <label>
      Amount:
      <input name="amount" />
    </label>
    <div><input type="submit" value="Add" /></div>
  </form>

{% endblock %}
