<!doctype html>
<html>
<head>
  <link type="text/css" rel="stylesheet" href="/css/common.css" />
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js"></script>
  <script type="text/javascript" src="/js/jquery-ui-1.8.18.custom.min.js"></script>
  <link type="text/css" href="/css/ui-lightness/jquery-ui-1.8.18.custom.css" rel="stylesheet" />

  {% block head %}
    <title>Personal Finance Tracker</title>
  {% endblock %}
</head>
<body>
<header>
  <a href="/">Home</a> |
  <a href="/edit_budget">Edit budget</a> |
  <a href="/user_settings">Settings</a></header>

{% block content %}{% endblock %}

</body>
</html>
