<!doctype html>
<html>
<head>
  <link type="text/css" rel="stylesheet" href="/css/common.css" />
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js"></script>
  <script type="text/javascript" src="/js/jquery-ui-1.8.18.custom.min.js"></script>
  <script type="text/javascript" src="/js/state.js"></script>
  <link type="text/css" href="/css/ui-lightness/jquery-ui-1.8.18.custom.css" rel="stylesheet" />

  {% block head %}
    <title>Personal Finance Tracker</title>
  {% endblock %}

  <style type="text/css">
    .active_profile_name {
      color: #999;
    }
  </style>
</head>
<body>
<header>
  <a href="/">Home</a> |
  <a href="/edit_budget">Edit budget</a> |
  <a href="/edit_profile">Profile settings</a> |
  <a href="/manage_profiles">Change profile</a>
  <span class="active_profile_name">({{ profile.name }})</span>
</header>

{% block content %}{% endblock %}

</body>
</html>
