<!doctype html>
<html>
<head>
  <link type="text/css" rel="stylesheet" href="/css/common.css" />
  <link type="text/css" href="/css/custom-theme/jquery-ui-1.8.18.custom.css" rel="stylesheet" />

  <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.7.1.min.js"></script>
  <script type="text/javascript" src="/js/lib/jquery-ui-1.8.18.custom.min.js"></script>
  <script type="text/javascript" src="/js/lib/amplify.min.js"></script>
  <script type="text/javascript" src="/js/lib/highcharts.js"></script>
  <script type="text/javascript" src="/js/state.js"></script>
  <script type="text/javascript" src="/js/transaction_dialog.js"></script>
  <script type="text/javascript" src="/js/charts.js"></script>

  {% block head %}
    <title>Personal Finance Tracker</title>
  {% endblock %}

  <script>
    $(function() {
      $('button').each(function(){
        var options = {};
        if ($(this).attr('icon')) {
          options['icons'] = {'primary': $(this).attr('icon')};
        }
        $(this).button(options);
      });
    });
  </script>
</head>
<body>
<div class="site_content">
  <header>
    <div class="right_block">
      <a href="/manage_profiles">Change profile</a>
      <span class="gray_name">({{ profile.name }})</span>

      <a href="{{ logout_url }}">Log out</a>
      <span class="gray_name">({{ google_user.nickname() }})</span>
    </div>

    <div class="left_block">
      <a href="/">Overview</a>
      <a href="/detailed_expenses">View detailed expenses</a>
      <a href="/edit_profile">Profile settings</a>
    </div>
  </header>

  <div class="fast_access_bar">
    <button transaction_id="" icon="ui-icon-circle-plus">
      Add expense
    </button>
    <button>
      Transfer
    </button>
    <button onclick="window.location = '/import_from_file'">
      Import from file
    </button>
  </div>

  {% block content %}{% endblock %}

  {% include "templates/include/transaction_dialog.inc.html" %}
</div>
</body>
</html>
