{% extends "templates/base.html" %}

{% block head %}
  <title>PFT: create account</title>
{% endblock %}

{% block content %}

<h2>Choose</h2>
<form action="/do/create_user" method="post">
  <input type="submit" value="Create a new account" />
</form>
<br>
<form action="/do/create_user" method="post">
  <h4>Join existing account:</h4>
  <label>
    Account e-mail:
    <input name="existing_account_email"/>
  </label><br>
  <label>
    Account password:
    <input name="existing_account_password"/>
  </label>
  <input type="submit" value="Join" />
</form>

{% endblock %}
