{% extends "templates/base.html" %}

{% block head %}
  <title>PFT: process imported file</title>


  <link type="text/css" rel="stylesheet" href="/css/edit_imported_file.css" />

  <script type="text/javascript" src="/js/edit_imported_file.js"></script>

  <script type="text/javascript">
    // Init.

    {% for category in categories %}
      pft.state.UpdateCategory({
          'id': {{ category.key.id() }},
          'name': '{{ category.name }}'
      });
    {% endfor %}

    {% for transaction in imported_file.parsed_transactions %}
      pft.state.UpdateImportedTransaction({
          'id': {{ loop.index0 }},
          'date': '{{ transaction.date }}',
          'amount': {{ transaction.amount }},
          'description': '{{ transaction.description|e }}',
          'resolved': '{{ transaction.resolved }}' == 'True'
      });
    {% endfor %}


    pft.ParsedTransactionProcessor.IMPORTED_FILE_ID =
        {{ imported_file.key.id() }};

  </script>
{% endblock %}

{% block content %}
  <div>
    <p>Date: {{ imported_file.date }}</p>
    <p>Account: {{ account.name }}</p>

    {% if not imported_file.parsed %}
      <p>
        Select schema:
        <form action="/do/apply_parse_schema_to_import_file" method="post">
          <input type="hidden" name="id" value="{{ imported_file.key.id() }}">
          <select name="schema">
            {% for schema in profile.parse_schemas %}
              {% if schema.schema == imported_file.schema %}
                {% set selected = "selected" %}
              {% else %}
                {% set selected = "" %}
              {% endif %}
              <option value="{{ schema.schema }}" {{ selected }}>
                {{ schema.name }}
              </option>
            {% endfor %}
          </select>
          <input type="submit" value="Apply">
        </form>
        <form action="/do/add_parse_schema" method="post">
          Add new schema:<br>
          <label>
            Name:
            <input name="name"/>
          </label>
          <label>
            Schema:
            <input name="schema" class="add_schema_input"/>
          </label>
          <input type="submit" value="Add">
        </form>
      <p>
      Header:
      <table class="preview_table" cellpadding="0" cellspacing="0">
        {% for line in formatted_parsed_lines %}
          <tr>
            {% for cell in line %}
              <td>{{ cell }}</td>
            {% endfor %}
          </tr>
        {% endfor %}
      </table>
      <form action="/do/mark_import_file_as_parsed" method="post">
        <input type="hidden" name="id" value="{{ imported_file.key.id() }}">
        <input type="submit" value="Parse">
      </form>
    {% else %}

      <table class="imported_transactions" cellpadding="0" cellspacing="0">
        {% for transaction in imported_file.parsed_transactions %}
          <tr class="imported_transaction">
            <td class="date_cell">
              {{ transaction.date.strftime('%a, %d %b') }}
            </td>
            <td class="description_cell">
              {{ transaction.description }}
            </td>
            {% if transaction.amount < 0 %}
              <td class="amount_cell credit">{{ transaction.amount|abs }}</td>
            {% else %}
              <td class="amount_cell debit">{{ transaction.amount }}</td>
            {% endif %}
            <td parsed_transaction_index={{ loop.index0 }}>
            </td>
          </tr>
        {% endfor %}
      </table>

      <div id="split-transaction-dialog" class="split_transaction_dialog"></div>

    {% endif %}
  </div>
{% endblock %}
