{% extends "templates/base.html" %}

{% block head %}
  <title>PFT: edit profile</title>
{% endblock %}

{% block content %}

<h2>Profile settings</h2>
<form action="/do/edit_profile" method="post">
  <div>
    Main currency:
    <input name="main_currency" value="{{ profile.main_currency }}"/>
  </div>
  <div>
    Password to allow other users use the same account:
    <input name="password" placeholder="********"/>
  </div>
  <div><input type="submit" value="Save" /></div>
</form>

{% endblock %}
