{% extends "templates/base.html" %}

{% block content %}

  <h3>Categories</h3>
  <ul>
    {% for category in categories %}
      <li>
        Name: {{ category.name|escape }},
        Balance: {{ category.balance }}
      </li>
    {% endfor %}
  </ul>

  <h4>Add category</h4>
  <form action="/do/add_category" method="post">
    <div>Name: <input name="name"/></div>
    <div><input type="submit" value="Add" /></div>
  </form>

  <br><br>

  <h3>Edit budget for {{ budget_name }}</h3>

  <p>
    {% if not budget %}
      Budget is not planned yet.
    {% endif %}
  </p>

  <form action="/do/edit_budget" method="post">
    <input type="hidden" name="budget_date" value="{{ budget_date }}"/>
    {% for category in categories %}
      <label>
        {{ category.name|escape }}
        <input name="category_{{ category.key.id() }}" value="{{ category.planned_expense }}" placeholder="Auto" />
      </label>
      <br>
    {% endfor %}
    <div><input type="submit" value="Save" /></div>
  </form>

{% endblock %}
