{% extends "templates/base.html" %}

{% block head %}
  <title>PFT: edit budget</title>

  <style type="text/css">
    .expense {
      color: #800000;
    }
    .income {
      color: #008000;
    }
    .day {
      min-height: 20px;
      border-top: 1px solid #eee;
    }
    .day .title {
      color: #999;
    }
    .day .transaction {
      cursor: pointer;
    }
    .day .transaction.expense {
      text-align: right;
      width: 200px;
    }
    .day .transaction.income {
      margin: 0 0 0 200px;
    }
    .day .transaction .description {
      color: #aaa;
      font-size: 10px;
    }
    .day .transaction .category {
      color: #679ce8;
      font-size: 10px;
    }
  </style>
{% endblock %}

{% block content %}
  <h3>Viewing {{ budget_name }}</h3>

  <h4>Transactions:</h4>
  {% for day in days %}
    <div class="day">
      <div class="title">{{ day.date.strftime('%a, %d %b') }}</div>
      {% for transaction in day.transactions %}
        {% if transaction.amount > 0 %}
          {% set transaction_class = 'expense' %}
        {% else %}
          {% set transaction_class = 'income' %}
        {% endif %}
        <div class="transaction {{ transaction_class }}">
          <div class="amount">{{ transaction.amount|abs }}</div>
          {% if transaction.description %}
            <span class="description">{{ transaction.description }}</span>
          {% endif %}
          {% if transaction.category %}
            <span class="category">{{ transaction.category.name }}</span>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  {% endfor %}

  <h4>Total:</h4>
  <div class="expense">{{ total_expenses }}</div>
  <div class="income">{{ total_income }}</div>

  <h3>Categories</h3>
  <ul>
    {% for category in categories %}
      <li>
        Name: {{ category.name|escape }},
        Balance: {{ category.balance }}
      </li>
    {% endfor %}
  </ul>

  <h4>Add category</h4>
  <form action="/do/add_category" method="post">
    <div>Name: <input name="name"/></div>
    <div><input type="submit" value="Add" /></div>
  </form>

  <br><br>

  <h3>Edit budget for {{ budget_name }}</h3>

  {% if not budget %}
    <p>
      Budget is not planned yet.
    </p>
  {% endif %}

  <form action="/do/edit_budget" method="post">
    <input type="hidden" name="budget_date" value="{{ budget_date }}"/>
    <h5>Expenses</h5>
    {% for category in categories %}
      <label>
        {{ category.name|escape }}
        <input name="category_{{ category.key.id() }}" value="{{ category.planned_value }}" placeholder="Auto" />
      </label>
      <br>
    {% endfor %}
    <h5>Income</h5>
    {% for income_item in budget.income %}
      <label>
        Income item name:
        <input name="incomeitem_name_{{ loop.index0 }}" value="{{ income_item.name }}" />
      </label>
      <label>
        Income item value:
        <input name="incomeitem_value_{{ loop.index0 }}" value="{{ income_item.planned_value }}" />
      </label>
      <br>
    {% endfor %}
    <h6>Add new income item</h6>
    <label>
      Income item name:
      <input name="new_incomeitem_name" />
    </label>
    <label>
      Income item value:
      <input name="new_incomeitem_value" />
    </label>
    <div><input type="submit" value="Save" /></div>
  </form>

{% endblock %}
