{% extends "templates/base.html" %}

{% block content %}
  <script>
    $(function(){
      // Datepicker
      $('#datepicker').datepicker({
        inline: true
      });
    });
  </script>

  <ul>
    {% for account in accounts %}
      <li>
        Name: {{ account.name|escape }},
        Currency: {{ account.currency|escape }},
        Balance: {{ account.balance }}
        <br>
        Transactions:
        <ul>
          {% for transaction in transactions if transaction.account_id == account.key.id() %}
            <li>
              Date: {{ transaction.date|escape }},
              Category: {{ transaction.category_id }},
              Amount: {{ transaction.amount }}
            </li>
          {% endfor %}
        </ul>
      </li>
    {% endfor %}
  </ul>

<div>Add account</div>
<form action="/do/add_account" method="post">
    <div>Name: <input name="name"/></div>
    <div>Currency: <input name="currency"/></div>
    <div><input type="submit" value="Add account" /></div>
</form>

<br>
<div>Add transaction</div>
<form action="/do/add_transaction" method="post">
    <div>Account:
      <select name="account_id">
        {% for account in accounts %}
          <option value="{{ account.key.id() }}">{{ account.name|escape }}</option>
        {% endfor %}
      </select>
    </div>
    <div>Category:
      <select name="category_id">
        <option value="">None</option>
        {% for category in categories %}
          <option value="{{ category.key.id() }}">{{ category.name|escape }}</option>
        {% endfor %}
      </select>
    </div>
    <div>Description: <textarea name="description"></textarea></div>
    <div>Amount: <input name="amount"/></div>
    <div>Date: <input name="date" id="datepicker"/></div></div>
    <div><input type="submit" value="Add transaction" /></div>
</form>

<br>
<div>Add from csv</div>
  <form action="/do/add_transactions_from_csv" method="post" enctype="multipart/form-data">
    <div>Account:
      <select name="account_id">
        {% for account in accounts %}
          <option value="{{ account.key.id() }}">{{ account.name|escape }}</option>
        {% endfor %}
      </select>
    </div>
    <input type="file" name="csv" /><br>
    <input type="submit" value="Submit" />
  </form>
{% endblock %}
