{% extends "templates/base.html" %}

{% block head %}
  <title xmlns="http://www.w3.org/1999/html">PFT: overview</title>

<script type="text/javascript">
  $(function () {
    var data= [
      {% for item in budget_items %}
        ['{{ item.name|escape }}', {{ item.amount }}],
      {% endfor %}
      ['Common savings',   {{ common_savings }}]
    ];

    $('#expense-chart-dialog').dialog({
      autoOpen: false,
      resizable: false,
      width: 730,
      buttons: {
        'Close': function() {
          $(this).dialog('close');
        }
      }
    });

    var expenseChart = null;
    $('#view-on-chart').click(function() {
      $('#expense-chart-dialog').dialog('open');
      if (!expenseChart) {
        expenseChart = pft.AddExpenseChart('expense-chart', data);
      }
    });
  });
</script>

{% endblock %}

{% block content %}
  <div id="expense-chart-dialog">
    <div id="expense-chart" class="expense-chart"></div>
  </div>

  {{ categories.categories_widget(profile, total_balance, categories_total_balance) }}

  <div class="standard_block_divider"></div>

  {{ accounts.accounts_widget(profile, total_balance) }}

  <div class="standard_block_with_title">
    <div class="title">Current month</div>
    <a class="details_link" href="/edit_budget">details</a>
    <div class="standard_block full_page_block">
      {% for item in budget_items %}
        <div class="item">
          {% if 'category_id' in item %}
            <a href="/transaction_report?category_id={{ item.category_id }}">
              <span class="name category">{{ item.name|escape }}</span>
            </a>
          {% else %}
            <span class="name">{{ item.name|escape }}</span>
          {% endif %}
          <span class="balance">{{ item.amount|int }}</span>
          <span class="currency">{{ profile.main_currency}}</span>
          <span class="chart_line"
                style="width: {{ (item.amount / max_expense * 100)|int }}px">
          </span>
        </div>
      {% endfor %}
      <div class="item total">
        <span class="name">Common savings</span>
        <span class="balance">{{ common_savings|currency }}</span>
        <span class="currency">{{ profile.main_currency}}</span>
        <span class="chart_line"
              style="width: {{ (common_savings / max_expense * 100)|int }}px">
        </span>
      </div>
      <a class="details_link" id="view-on-chart" href="javascript:void(0)">
        view on chart</a>
    </div>
  </div>
{% endblock %}
